apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.apiUiIssuerNode.configMap.issuerApiName }}
  labels:
    {{- include "polygon-id-issuer.staticLabel" . | nindent 4}}
    {{- include "polygon-id-issuer.labels" . | nindent 4 }}
data:
  ISSUER_API_UI_SERVER_URL: https://{{ .Values.appdomain }}
  ISSUER_API_UI_SERVER_PORT: {{ .Values.apiUiIssuerNode.configMap.issuerApiUiServerPort   | quote }}
  ISSUER_API_UI_AUTH_PASSWORD: {{ .Values.apiUiIssuerNode.configMap.issuerApiUiAuthPassword }}
  ISSUER_API_UI_AUTH_USER: {{ .Values.apiUiIssuerNode.configMap.issuerApiUiAuthUser }}
  ISSUER_API_UI_ISSUER_NAME: {{ .Values.issuerName }}
  ISSUER_API_UI_SCHEMA_CACHE: {{ .Values.apiUiIssuerNode.configMap.issuerApiUiSchemaCache | quote }}
  ISSUER_API_IDENTITY_BLOCKCHAIN: {{ .Values.apiUiIssuerNode.configMap.issuerApiIdentityBlockchain }}
  ISSUER_API_IDENTITY_METHOD: {{ .Values.apiUiIssuerNode.configMap.issuerApiIdentityMethod }}
  {{- if .Values.mainnet }}
  ISSUER_API_IDENTITY_NETWORK: {{ .Values.apiUiIssuerNode.configMap.issuerApiIdentityMainNetwork }}
  {{- else }}
  ISSUER_API_IDENTITY_NETWORK: {{ .Values.apiUiIssuerNode.configMap.issuerApiIdentityMumbaiNetwork }}
  {{- end }}
  
  ISSUER_API_ENVIRONMENT: {{ .Values.apiUiIssuerNode.configMap.issuerApiEnvironment }}
  ISSUER_API_CALLBACK_URL: {{ .Values.apiUiIssuerNode.configMap.issuerApiCallbackUrl }}

  ISSUER_ON_CHAIN_REVOCATION_SERVICE_ENABLED: {{ .Values.apiUiIssuerNode.configMap.issuerApiUiRevocationServiceEnabled | quote }}
  {{- if .Values.mainnet }}
  ISSUER_ON_CHAIN_REVOCATION_SERVICE_CHAIN_ID: {{ .Values.apiUiIssuerNode.configMap.issuerApiUiRevocationServiceChainIdMain | quote }}
  ISSUER_ON_CHAIN_REVOCATION_SERVICE_SC_ADDRESS: {{ .Values.apiUiIssuerNode.configMap.issuerApiUiRevocationServiceScAddressMain | quote }}
  {{- else }}
  ISSUER_ON_CHAIN_REVOCATION_SERVICE_CHAIN_ID: {{ .Values.apiUiIssuerNode.configMap.issuerApiUiRevocationServiceChainIdMumbai | quote }}
  ISSUER_ON_CHAIN_REVOCATION_SERVICE_SC_ADDRESS: {{ .Values.apiUiIssuerNode.configMap.issuerApiUiRevocationServiceScAddressMumbai | quote }}
  {{- end }}